body {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/4/41/Rammstein_at_Wacken_Open_Air_2013_06.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  color: black;
}

.sidebar {
  right: 5%;
  border-left: 1px solid white;
  padding: 20px;
  font-size: 105%;
  float: right;
  width: 260px;
  color: #E7F3F1;
  top: 50px;
  position: fixed;
}

#header {
  text-shadow: 5px 5px #ffffff;
  font-size: 50px;
  font-style: italic;
  height: 50px;
  position: fixed;
  margin-bottom: 10px;
  padding-left: 40%;
}

img {
  float: left;
  padding: 20px;
}

p {
  font-size: 30px;
}

.main {
  margin-left: 10px;
  margin-right: 320px;
  margin-top: 50px;
  margin-bottom: 10px;
  padding: 20px;
  text-shadow: width: 90%;
}

.bottom {
  color: white;
  right: 30%;
}
